// Define variables for your color scheme

// Main colors
$darkgreen: #3D5555;
$yellow: #FFCC51;
$black: #000000;
$white: white;


$lightgreen: #C3E7F0;

// Icon colors - pas utile normalement
$orange: #FF8351;
$pink: #FF8FAD;
$blue: #6AD6F3;

// Cards border & shadow
$shadow-gray: #0e000015;
$light-gray: #F4F4F4;
