// Define variables for your color scheme

// Main colors
// $darkgreen: #3d5555;
// $darkgreen: rgba(61, 85, 85, 0.8);
$darkgreen: #318992;
$verydarkgreen: #3d5555;

$yellow: #FFCC51;
$black: #000000;
$white: white;
$lightyellow: rgb(252, 242, 195);


// $lightgreen: #C3E7F0;
$lightgreen: rgba(171, 217, 209, 0.7);

// Icon colors - pas utile normalement
$orange: #FF8351;
$pink: #FF8FAD;
$blue: #6AD6F3;

// Cards border & shadow
$shadow-gray: #0e000015;
$light-gray: #F4F4F4;

$light-grey-icones: #CCCACA;
