#favourite-index-banner {
  background-color: $darkgreen;
  color: $white;
  padding: 40px 30px 0px 30px;
  margin: 0px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}

#favourite-index-title {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 27px;
    margin: 0px 10px 0px 0px;
  }
  h1 {
    color: $white;
    margin: 0px;
    padding: 0px;
  }
}

#favourite-index-cards {
  margin-top: 10px;
}

#align-fleche-fav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

}
