.logincard h2 {
  font-family: 'nunito'; /* Police */
  color: #3D5555; /* Vert foncé */
  text-align: center; /* Centrage du texte */
  margin-bottom: 20px;/* Espacement en bas */
}

.logincard {
  padding: 50px;
}
