.activities.new {
  background-color: $yellow;
}

.card-new-activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 0;
  width: 100%;
  padding: 30px;

  // row justify-content-center

  .yellowbtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}

.sub-card-new-activity {
  width: 100%;

  .form-control {
    border-radius: 20px;
    margin: 0px;
    font-size: 12px;
    
    .focus {
      border: 1px solid $yellow;
    }
  }

  #activity_category {
    border: 1px solid $shadow-gray;
    border-radius: 20px;
    background-color: $white;
    color: black;
    width: 100%;
    height: 28px;
    padding-left: 10px;
    font-size: 12px;

    option {
      font-family: nunito;
      font-size: 12px;
    }

  }

  .form-check-input {
    display:none;
  }

  #checkbox1 + label{
    background-image: asset-url('stroller_nok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox1:checked + label {
    background-image: asset-url('stroller_ok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox2 + label{
    background-image: asset-url('changing_table_nok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox2:checked + label{
    background-image: asset-url('changing_table_ok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox3 + label{
    background-image: asset-url('high_chair_nok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox3:checked + label{
    background-image: asset-url('high_chair_ok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox4 + label{
    background-image: asset-url('kids_friendly_nok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox4:checked + label{
    background-image: asset-url('kids_friendly_ok_30px.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox5 + label{
    background-image: asset-url('bus_nok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox5:checked + label{
    background-image: asset-url('bus_ok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox6 + label{
    background-image: asset-url('car_nok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox6:checked + label{
    background-image: asset-url('car_ok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox7 + label{
    background-image: asset-url('velo_nok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }

  #checkbox7:checked + label{
    background-image: asset-url('velo_ok.png');
    object-fit: cover;
    height: 30px;
    width: 30px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
  }
}

.new-activity-tab-field {
  margin: 5px 0px;
}

.new-activity-top-tab-field {
  margin: 10px 0px;
}

.new-activity-tab-field-description {
  padding-bottom: 20px;
  .form-control {
    height: 100px;
  }
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 0;
  gap: 10px;
}

// WEBSITE toggle : pour la checkbox ajouter un site web
.toggleUrl {
  position: absolute;
  transform: scale(0);
}

.toggleUrl + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  font-size: 15px;
}

.toggleUrl + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.toggleUrl:checked + label::before {
  background-color: #3D5555;
}

.toggleUrl + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.toggleUrl:checked + label::after {
  left: 18px;
}

#activity_url {
  height: 35px;
  margin-bottom: 15px;
  font-size: 12px;
}



// TELEPHONE toggle : pour la checkbox ajouter un téléphone
.togglePhone {
  position: absolute;
  transform: scale(0);
}

.togglePhone + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  font-size: 15px;
}

.togglePhone + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.togglePhone:checked + label::before {
  background-color: #3D5555;
}

.togglePhone + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.togglePhone:checked + label::after {
  left: 18px;
}

#activity_phone_number {
  height: 35px;
  margin-bottom: 15px;
  font-size: 12px;
}


// PHOTO toggle : pour la checkbox ajouter une photo
.togglePhoto {
  position: absolute;
  transform: scale(0);
}

.togglePhoto + label {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  font-size: 15px;
}

.togglePhoto + label::before {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 36px;
  height: 20px;
  top: 0;
  left: 0;
  background-color: #EAEAEA;
  border-radius: 50rem;
}

.togglePhoto:checked + label::before {
  background-color: #3D5555;
}

.togglePhoto + label::after {
  content: '';
  display: block;
  position: absolute;
  cursor: pointer;
  width: 16px;
  height: 16px;
  top: 2px;
  left: 2px;
  background-color: white;
  border-radius: 50%;
  transition: left 0.2s ease;
}

.togglePhoto:checked + label::after {
  left: 18px;
}

#activity_photo {
  height: 35px;
  margin-bottom: 15px;
  font-size: 12px;
}
