#align-fleche-activity {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.activities.new {
  background-color: $darkgreen;
  // background-color: rgba(61, 85, 85, 0.9);
}

#activity-new-title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 30px;
    width: 30px;
    margin: 0px 10px 0px 0px;
  }

  h1 {
    color: $white;
    margin: 0px;
    padding: 0px;
  }

}

.card-new-activity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 0;
  width: 100%;
  padding: 30px;

  // row justify-content-center

  .yellowbtn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
  }
}

.sub-card-new-activity {
  width: 100%;

  h5 {
    color: $verydarkgreen;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    border-top: 1px solid $verydarkgreen;
    padding-top: 10px;
  }

  .form-control {
    border-radius: 20px;
    margin: 0px;
    font-size: 12px;
    background-color: $lightgreen;
    color: black;

    .focus {
      border: 1px solid $yellow;
    }

  }

  .form-control::placeholder {
    // color: $verydarkgreen;
  }


  #activity_category {
    border: 1px solid $shadow-gray;
    border-radius: 20px;
    background-color: $white;
    // color: black;
    width: 100%;
    height: 28px;
    padding-left: 10px;
    font-size: 12px;
    font-style: italic;
    background-color: $lightgreen;

    option {
      font-family: nunito;
      font-size: 12px;
      background-color: $white;
      font-style: normal;
    }
  }

  .form-check-input {
    display:none;
  }

  #checkbox1{
    background-image: asset-url('stroller_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox1:checked {
    background-image: asset-url('stroller_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
  }

  #checkbox2 {
    background-image: asset-url('changing_table_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox2:checked {
    background-image: asset-url('changing_table_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
  }

  #checkbox3 {
    background-image: asset-url('high_chair_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox3:checked {
    background-image: asset-url('high_chair_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
  }

  #checkbox4 {
    background-image: asset-url('kids_friendly_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox4:checked {
    background-image: asset-url('kids_friendly_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid white;
  }

  #checkbox5 {
    // background-color: $light-grey-icones;
    background-image: asset-url('bus_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox5:checked {
    background-image: asset-url('bus_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }

  #checkbox6 {
    background-image: asset-url('car_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox6:checked {
    background-image: asset-url('car_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }

  #checkbox7 {
    background-image: asset-url('velo_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox7:checked {
    background-image: asset-url('velo_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }

  #checkboxUrl {
    // background-color: $light-grey-icones;
    background-image: asset-url('website_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkboxUrl:checked {
    background-image: asset-url('website_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }

  #checkboxPhone {
    // background-color: $light-grey-icones;
    background-image: asset-url('phone_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkboxPhone:checked {
    background-image: asset-url('phone_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }

  #checkboxPhoto {
    // background-color: $light-grey-icones;
    background-image: asset-url('picture_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkboxPhoto:checked {
    background-image: asset-url('picture_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 5px;
    border: 1px solid white;
  }
}

.new-activity-tab-field {
  margin: 5px 0px;
}

.custom-select {
  font-style: italic;
}

.new-activity-top-tab-field {
  margin: 10px 0px;
}

.new-activity-tab-field-description {
  margin-block: 10px;

  .form-control {
    height: 100px;
  }

  p {
    margin: 0px 0px 0px 10px;
  }
}

.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-block: 0;
  gap: 10px;
}

// #activity_photo {
//   height: 35px;
//   margin-bottom: 15px;
//   font-size: 12px;
// }




// // WEBSITE toggle : pour la checkbox ajouter un site web
// .toggleUrl {
  //   position: absolute;
  //   transform: scale(0);
  // }

  // .toggleUrl + label {
    //   position: relative;
    //   display: inline-block;
    //   padding-left: 40px;
    //   font-size: 15px;
    // }

    // .toggleUrl + label::before {
      //   content: '';
      //   display: block;
      //   position: absolute;
      //   cursor: pointer;
      //   width: 36px;
      //   height: 20px;
      //   top: 0;
      //   left: 0;
//   background-color: #EAEAEA;
//   border-radius: 50rem;
// }

// .toggleUrl:checked + label::before {
//   background-color: #3D5555;
// }

// .toggleUrl + label::after {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 16px;
//   height: 16px;
//   top: 2px;
//   left: 2px;
//   background-color: white;
//   border-radius: 50%;
//   transition: left 0.2s ease;
// }

// .toggleUrl:checked + label::after {
//   left: 18px;
// }

// #activity_url {
//   height: 35px;
//   margin-bottom: 15px;
//   font-size: 12px;
// }



// // TELEPHONE toggle : pour la checkbox ajouter un téléphone
// .togglePhone {
//   position: absolute;
//   transform: scale(0);
// }

// .togglePhone + label {
//   position: relative;
//   display: inline-block;
//   padding-left: 40px;
//   font-size: 15px;
// }

// .togglePhone + label::before {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 36px;
//   height: 20px;
//   top: 0;
//   left: 0;
//   background-color: #EAEAEA;
//   border-radius: 50rem;
// }

// .togglePhone:checked + label::before {
//   background-color: #3D5555;
// }

// .togglePhone + label::after {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 16px;
//   height: 16px;
//   top: 2px;
//   left: 2px;
//   background-color: white;
//   border-radius: 50%;
//   transition: left 0.2s ease;
// }

// .togglePhone:checked + label::after {
//   left: 18px;
// }

// #activity_phone_number {
//   height: 35px;
//   margin-bottom: 15px;
//   font-size: 12px;
// }


// // PHOTO toggle : pour la checkbox ajouter une photo
// .togglePhoto {
//   position: absolute;
//   transform: scale(0);
// }

// .togglePhoto + label {
//   position: relative;
//   display: inline-block;
//   padding-left: 40px;
//   font-size: 15px;
// }

// .togglePhoto + label::before {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 36px;
//   height: 20px;
//   top: 0;
//   left: 0;
//   background-color: #EAEAEA;
//   border-radius: 50rem;
// }

// .togglePhoto:checked + label::before {
//   background-color: #3D5555;
// }

// .togglePhoto + label::after {
//   content: '';
//   display: block;
//   position: absolute;
//   cursor: pointer;
//   width: 16px;
//   height: 16px;
//   top: 2px;
//   left: 2px;
//   background-color: white;
//   border-radius: 50%;
//   transition: left 0.2s ease;
// }

// .togglePhoto:checked + label::after {
//   left: 18px;
// }
