#checkbox-stroller {
  background-image: asset-url('stroller_nok_30px.png');
  object-fit: cover;
  height: 30px;
  width: 30px;
  display:inline-block;
  padding: 0 0 0 0px;
  border-radius: 50%;
}

#checkbox-changingtable {

}

#checkbox-highchair {

}

#checkbox-kidsfriendy {

}
