#align-fleche-user {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.users.show {
  background-color: $yellow;
}

.user-show-content {
  width: 100%;
}

#user-show-title {
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    height: 30px;
    width: 30px;
    margin: 0px 10px 0px 0px;
  }

  h1 {
    color: $darkgreen;
    margin: 0px;
    padding: 0px;
  }

}

.user-profile {
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px;
}

.user-profile-picture {
  width: 100px;
  height: 100px;
}

.user-name {
  margin: 15px 0px;
}

.profile_link_arrow {
  color: black;
  font-size: 22px;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.user-txt-info {
  color: black;
  margin: none;
  font-size: 15px;

}

#btn-user-edit {
  margin-bottom: 30px;
  color: rgb(73, 73, 73);
  font-size: 12px;
}

// .bp-user-modif {
//   color: grey; /* Couleur du texte */
//   text-decoration: none;
//   border: none; /* Pas de bordure */
//   border-radius: 30px; /* Coins arrondis */
//   font-size: 16px; /* Taille de police */
//   font-family: barlow;
// }

// #user-info-card {
//   margin-left: 10px;
//   margin-right: 10px;
//   width: auto;
//   border: 1px lightgrey solid; /* Pas de bordure */
//   border-radius: 30px; /* Coins arrondis */
// }

// .user-show-content {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   padding-top: 50px;
//   padding-bottom: 50px;
// }
