<h1>Mes favoris</h1>

<%# search tab %>
<%= render "activities/search_card" %>

<br>

<%# liste des activités %>
<% @activities.each do |activity|%>
  <%# affichage de la card activity %>
  <%= render "activities/activity_card", activity: activity %>
<% end %>
