<div id="favourite-index-banner">
  <div id= "align-fleche-fav">
  <%# bouton "go back" %>
  <%= link_to activities_path do %>
    <%= image_tag "go_back_arrow_white.png", alt: "Retour", class:"go-back-btn" %>
  <% end %>

    <div id="favourite-index-title">
      <h1>Mes favoris</h1>
    </div>
  </div>

  <%# search tab %>
  <%= render "activities/search_card" %>
</div>

<br>

<div id="favourite-index-cards">
<%# liste des activités %>
<% @activities.each do |activity|%>
  <%# affichage de la card activity %>
  <%= render "activities/activity_card", activity: activity %>
<% end %>
</div>
