<div class="banner">
    <%= image_tag "logo.png", alt: "logo Easyway", height: 100 %>
    <h1>Easyway</h1>
    <h3>L'appli baby & kids friendly!</h3>
    <p>Trouver des lieux baby & kids friendly n'a jamais été aussi facile !</p>
    <%= link_to "> Découvrir Easyway", activities_path, id:"btn-banner" %>
</div>

<div class="home-card">
  <p>Mes Cool kids places préférées</p>
  <%= render "home_card_carousel", activities: @fav_activities, category: "favourites" %>
</div>

<div class="home-card">
  <p>Les Cool kids places du moment</p>
  <%= render "home_card_carousel", activities: @activities, category: "activities"  %>
</div>
