<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Bienvenue sur Easyway !</h1>
    <p>le meilleur chemin pour trouver des lieux de sorties adaptés et accessibles en poussette.</p>
    <p>Baby & kids friendly!</p>
    <%= link_to "> Découvrir tous les lieux kids friendly !", activities_path %>
    <%= image_tag "logo.png", alt: "logo Easyway", width: 200 %>
  </div>
</div>
