// classe appliquée sur le lien
.card-activity-link {
  text-decoration: none;
  color: $darkgreen;
  width: 100%;

}

// div représentant la card activity
.card-activity {
  display: flex;
  justify-content: space-between;
  padding: 0;

  overflow: hidden;
  margin: 10px 0px;

  // &:hover {
  //   transform: translate(0px, -5px);
  //   background-color: yellow;
  // }
}

// div contenant l'image du lieu/activité
.card-activity-image {
  width: 120px;
  background-position: center;
  background-size: cover;
}

// div contenant les informations du lieu/activité (nom, catégorie et icônes d'accessibilité
.card-activity-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0;
  width: 100%;

  .card-activity-title-type {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    padding: 0px;
    margin: 0px;
  }

  p {
    font-size: 12px;
    text-align: right;
    color: grey;
    padding: 0px;
    margin: 0px;
    width: 90px;
  }

  // div contenant les icônes d'accessibilité
  .card-activity-icones {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
  }

  .card-activity-description {
    font-size: 14px;
    margin: 5px 0px;
  }
}

// icones d'accessibilité
.activity-icone {
  width: 30px;
  height: 30px;
  object-fit: cover;
  padding: 2px;
}
