// classe appliquée sur le lien
.card-activity-link {
  text-decoration: none;
  color: $darkgreen;
}

// div représentant la card activity
.card-activity {
  background: white;
  border-radius: 15px;
  box-shadow: 0 0 5px grey;
  border: 1px solid lightgrey;

  display: flex;
  justify-content: space-between;
  padding: 0;

  overflow: hidden;
  height: 120px;
  margin: 10px;
  width: 100%;

  // &:hover {
  //   transform: translate(0px, -5px);
  //   background-color: yellow;
  // }
}

// div contenant l'image du lieu/activité
.card-activity-image {
  height: 100%;
  width: 100px;
  background-position: center;
  background-size: cover;
}

// div contenant les informations du lieu/activité (nom, catégorie et icônes d'accessibilité
.card-activity-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  margin: 0;

  h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
  }

  p {
    font-size: 15px;
  }

  // div contenant les icônes d'accessibilité
  .card-activity-icones {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
  }
}

// icones d'accessibilité
.activity-icone {
  width: 20px;
  height: 20px;
  border: solid, 2px, grey;
  border-radius: 50px;
  object-fit: cover;
}
