/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 40px;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 2;
  background-color: white;
  width: 100%;
  height: auto;

  align-items: center;
  justify-content: center;
  justify-items: center;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

#btn-agenda-close {
  margin: 10px 80px 0px 0px;
  text-align: right;
  // margin: 0;
  // margin-bottom: 0px;
  // margin-top: 5px;
  // margin-right: 20px;
  font-size: 20px;
  font-weight:800;
  color: $darkgreen;
  width: 100%;
}

.agenda-card-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  // padding-inline: 10px;
}

.agenda-card-subtitle {
  // margin-left: 10px;

  p {
    margin: 0;
    color: $darkgreen;
    font-size: 14px;
  }
}

#agenda-flatpickr {
  margin-block: 10px;
  margin-inline: 30px;
}

#agenda-confirm {
  // font-size: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  margin-inline: 60px;
}
