.card-activity-accessibility {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $black;
  background-color: $light-gray;
  border-radius: 15px;
  padding: 20px;

}

.card-activity-accessibility-category {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 5px 0px;

  p {
    font-size: 14px;
  }

  img {
    height: 30px;
    border-radius: 50%;
  }

  .no-access-info {
    color: grey;
  }

}
