.container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  padding: 15px 20px 30px 20px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
  border: 1px solid rgba(203, 203, 203, 0.304);
  z-index: 5;

  .icone-home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }

  .icone-30 {
    width: 30px;
    height: 30px;
  }
  .icone-40 {
    width: 40px;
    height: 40px;
  }

  .icone-size-left {
    color: #3D5555;
    font-size: 30px;
  }

  .icone-size {
    color: #3D5555;
    font-size: 25px;
  }

  .subtitle {
    color: gray;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
  }
}
