.QAbox_faq{
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  // margin-inline: 20px;
  width: 100%;

  // .collapse {
  //   border: 1px grey solid;
  //   color: $darkgreen;
  // }

  .icone {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-block: 3px;
  }

  .icone p {
    margin: 0;
    text-align: justify;
  }

}

.box-q {
  border: $lightgreen, 1px solid;
  background-color: $light-gray;
  border-radius: 15px;
  padding: 10px;
  margin: 0px;
  width: 100%;

  p {
    color: $darkgreen;
    text-align: center;
    font-size: 16px;
  }
}

.box-a {
  border: $lightgreen, 1px solid;
  background-color: $white;
  border-radius: 15px;
  padding: 10px;
  margin: 0px;
  width: 100%;

  p {
    color: $darkgreen;
    text-align: justify;
    font-size: 16px;
    }
}

h2 {
  color: $darkgreen
}

.box-signification-icones {
  border: 1px grey solid;
  border-radius: 15px;
  margin: 10px;
  padding: 20px;
}

li {

}
