.card-search {
  // display: flex;
  // flex-direction: row;
  // justify-content: center;
  // margin-top: 15px;
  background-color: $darkgreen;
  margin: 50px -30px 0px;
  margin-top: 50px;

  padding: 0px 30px;
  padding-bottom: 10px;
}

#search-card-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}

.sub-card-search {
  margin-block: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .form-control {
    border: 1px solid $shadow-gray;
    border-radius: 18px;
    background-color: $white;
    color: black;
    margin: 0px;
    margin-bottom: 3px;
    height: 40px;
  }

  .form-control::placeholder { /* Most modern browsers support this now. */
    // font-style: italic;
    color: $black;
    opacity: 1; // firefox
  }

  .form-check-input {
    // color: black;
    display:none;
    // position: absolute;
    // transform: scale(0);
  }

  #checkbox1 {
    background-image: asset-url('stroller_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox1:checked {
    background-image: asset-url('stroller_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
  }

  #checkbox2 {
    background-image: asset-url('changing_table_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox2:checked {
    background-image: asset-url('changing_table_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
  }

  #checkbox3 {
    background-image: asset-url('high_chair_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display: inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox3:checked {
    background-image: asset-url('high_chair_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
  }

  #checkbox4 {
    background-image: asset-url('kids_friendly_nok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border-radius: 50%;
    border: 1px solid $darkgreen;
    transition: filter 0.5s ease, transform 0.5s ease;
  }

  #checkbox4:checked {
    background-image: asset-url('kids_friendly_ok.png');
    object-fit: cover;
    height: 50px;
    width: 50px;
    display:inline-block;
    padding: 0 0 0 0px;
    border: 1px solid white;
    border-radius: 50%;
    border: 1px solid $darkgreen;
  }
}

// .form-control::placeholder { /* Most modern browsers support this now. */
//   color: $black;
//   // opacity: 1; // firefox
//   font-style: italic;
// }

.search-tab-field {
  margin-block: 3px;

}

.checkbox-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 0;
}

.card-autocompletion {
  z-index: 3;
}
