.yellowbtn {
  text-decoration: none;
  color: $darkgreen;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
  align-items: center;

  background-color: $yellow;
  border-radius: 50px;
  border: none;
}
