<%# carte détails de l'activité : addresse, téléphone, website, ... %>
  <div class="card-activity-details">
    <%# addresse %>
    <p>
      <i class="fa-solid fa-location-dot" style="color: #000000;"></i> :<%= @activity.address %>
    </p>

    <%# téléphone %>
    <p>
      <i class="fa-solid fa-phone" style="color: #000000;"></i> :<%= @activity.phone_number %>
    </p>

    <%# url site web %>
    <a href="<%= @activity.url%>" target="_blank">
      <i class="fa-solid fa-globe" style="color: #000000;"></i>
    </a>
  </div>
