<div class="container">

  <%# carte présentation de l'activité : nom, icones, ... %>
  <%= render "activities/card_show_activity_name", activity: @activity %>

  <%# carte avec boutons "j'y vais", "ajout favoris", ... %>
  <%= render "activities/card_show_activity_btn_list", activity: @activity %>

  <%# carte détails de l'activité : addresse, téléphone, website, ... %>
  <%= render "activities/card_show_activity_details", activity: @activity %>

  <%# carte détails sur l'accessibilité de l'activité %>
  <%= render "activities/card_show_activity_accessibility", activity: @activity %>

</div>
